.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: lightpink;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 2vh;
}

.buttons {
  margin-top: 5vh;
}

.Cards {
  display: flex;
  flex-direction: row;

}

.player {
  flex-direction: column;
  margin: 5vw;
  background-color: lightgreen;
  padding: 2vw;
  border-radius: 15%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
