.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  outline: aliceblue solid 5px;
  outline-offset: -1vw;
}

h1 {
  color: aliceblue;
  padding-top: 5vh;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 2vh;
  border-bottom: 0.7vh solid green;
}

.CardPanel {
  justify-content: center;
}

.Cards {
  display: flex;
  flex-direction: row;
}

.player {
  flex-direction: column;
  margin: 5vw;
  background-color: lightgreen;
  padding: 2vw;
  border-radius: 15%;
}

.CardsAtRisk {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 37vh;
}

.signIn {
  color: aliceblue;
  margin-top: 10vh;
}

.signInButton {
  margin-top: 3vh;
}