.CurrentCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

.numCards {
    display: flex;
    flex: 1;
    margin: 3vw;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    outline: aliceblue solid 2px;
    outline-offset: 2vh;
}

.Risk {
    display: flex;
    flex-direction: row;
}

.atRisk {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 3vh;
}

.buttons {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .button{
      margin-left: 1vw;
      margin-right: 1vw;
  }

  .restartButton {
      margin-right: 17vw;
  }

  .signOutButton {
      margin-left: 17vw;
  }

  .StatsPanel {
      color: aliceblue;
  }

  .textColor {
      color: aliceblue;
  }